
.solutionpage{
    border: 2px solid white;
    height: 80vh;
    width: 85vw;     
    margin-bottom: 5vh;
    background-color: black;
}
button {
    padding: 10px 20px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    cursor: pointer;
}